.contact {
  form {
    max-width: 400px;

    p label {
      display: block;
    }

    input,
    textarea {
      width: 100%;
    }
  }
}
.bdog1 {
  padding: 5px;
}
.bdog1 a {
  padding-left: 20px;
  color: white;
}
