body,
#root,
.layout {
  min-height: 100vh;
  background: #547DCC;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 760px;
  min-width: 320px;
  width: 66vw;
  margin: 1em auto;
  padding: 1em;
  flex: 1;
}

nav ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  background: #58677f;

 li {
    margin: 1em;
    color: white;
  }
}
h1 {
  color: white;
  font-size: 50px;
  margin: 0 20px;
}
.home {
  background: #b6cfff;
  padding: 10px;
}
.images1 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 30px;
}
