body,
#root,
.layout {
  min-height: 100vh;
  background: #415a60;
}
body {
  border: 5px solid white;
  margin: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 760px;
  min-width: 320px;
  width: 66vw;
  margin: 1em auto;
  padding: 1em;
  flex: 1;
}

nav ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  background: #72a1ac;

  li {
    margin: 1em;
    font-size: 1.5em;
  }
}
h1 {
  color: white;
  font-size: 50px;
  margin: 0 20px;
}
.home {
  background: #58848c;
  padding: 20px;
}
.home h2 {
  text-align: center;
  font-size: 30px;
  // line-height: 10px;
  // margin-top: 10px;
}
.images1 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 30px;
}
.fries {
  display: flex;
  justify-content: center;
}
.fries img {
  width: 100%;
  height: 200px;
}
